<aside>
    <h2 class="title">{{title}}</h2>
    <hr>
    {{#ifEqual title 'Projects'}}
    <ul>
        <a href="/users/personal/create">
            <li>
                <i class="bi bi-plus-circle"></i> Create
            </li>
        </a>
        {{#each project}}
        <li>
            <a href="/users/personal/dashboard/{{name}}" class="truncated-text">
                <i class="bi bi-grid"></i>{{name}}
            </a>
        </li>
        {{/each}}
    </ul>
    {{/ifEqual}}
    {{#ifEqual title 'Send'}}
    <ul>
        <li><i class="bi bi-send"></i> Send</li>
        <li><i class="bi bi-list-ol"></i> <span>Contact</span> </li>
    </ul>
    {{/ifEqual}}
    {{#ifEqual title 'Transaction'}}
    <ul>
        <li><i class="bi bi-wallet2"></i> Transaction</li>
    </ul>
    {{/ifEqual}}
    {{#ifEqual title 'API token'}}
    <ul>
        <a href="/users/personal/generateapitoken">
            <li><i class="bi bi-key"></i> Generate New</li>
        </a>
    </ul>
    {{/ifEqual}}
    {{#ifEqual title 'Settings'}}
    <ul>
        <li><i class="bi bi-lock"></i> Change password</li>
    </ul>
    {{/ifEqual}}
    {{#ifEqual title 'Create'}}
    <ul>
        <a href="/users/personal/create">
            <li>
                <i class="bi bi-plus-circle"></i> Create
            </li>
        </a>
        {{#each project}}
        <li>
            <a href="/users/personal/dashboard/{{name}}" class="truncated-text">
                <i class="bi bi-grid"></i>{{name}}
            </a>
        </li>
        {{/each}}
    </ul>
    {{/ifEqual}}
</aside>