<div class="apitoken-header">
    <h2 class="title">
        {{#ifEqual params true}}
        {{params}} | Api Token and Secret key
        {{else}}

        {{#if apiTokens}}
        {{params}} | Api Token and Secret key
        {{else}}
        Select project
        {{/if}}

        {{/ifEqual}}
    </h2>
    {{#if xatolik}}
    <p style=" background-color: rgb(255, 219, 226);padding:6px 24px; color: crimson; font-size:medium"> {{xatolik}}</p>
    {{/if}}
    {{#if params}}
    <a href="/users/personal/generateapitoken/{{project_id}}">
        <i class="bi bi-key"></i> Generate New </a>
    {{/if}}
</div>
<hr>
<div class="table-wrapper-api">
    <table>
        <thead>
            <tr>
                <th> ID </th>
                <th> Api token </th>
                <th> Secret Key </th>
                <th> Status </th>
            </tr>
        </thead>
        <tbody>
            {{#each apiTokens}}
            <tr>
                <td>{{id}}</td>
                <td>{{apiToken}}</td>
                <td>{{secretKey}}</td>
                <td>{{status}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>